body {
    margin: 0px auto;
}

.hero1 {
    background-color: #eceae1;
    color: black;
    padding: 20px;
}

.navbarx {
    height: auto;
}

.btnx button:active {
    border: none;
}

.elevate h1 {
    padding-top: 50px;
    text-align: center;
    font-weight: bolder;
    font-size: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
}

.hero1 a:link {
    text-decoration: none;
    color: black;
}

.linkx {
    color: black;
    padding: 5px 80px;
    border: solid 1px black;
    border-radius: 5px;
    border-color: black;
}



.second {
    background: url(../img/blueback.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    background-color: #eceae1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
    padding: 10px;
}